body {
  display: block;
  justify-content: center;
  text-align: center;
  background-image: url('./imgs/jn0h36jz4lb61.png');
  background-color: black;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#project-title {
  color: black;
  font-family: Bungee Shade, cursive;
  font-size: 90px;
  word-spacing: 10px;
  margin-right: 200px;
  margin-top: 30px;
  block-size: 150px;
  text-shadow: 1px 1px black;
}

#title {
  font-family: DotGothic16, sans-serif;
}

div {
  display: flex;
  justify-content: center;
  margin: 10px;
}

div .color {
  cursor: cell;
  margin-block: 10px;
  width: 50px;
  height: 47px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
}

button {
  font-family: DotGothic16, sans-serif;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  transition: 0.1s;
  background-color: rgb(132, 132, 245);
}

#button-random-color {
  font-family: DotGothic16, sans-serif;
  margin-block: 10px;
  font-size: 10px;
  width: 90px;
  height: 50px;
}

#pixel-board {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  border: 1px solid black;
  box-sizing: content-box;
  padding: 2px;
}

.pixel {
  margin: 0;
  border: 1px solid black;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;
}

#clear-board {
  font-family: DotGothic16, sans-serif;
  margin-block: 10px;
  font-size: 10px;
  width: 90px;
  height: 20px;
}

#board-size {
  font-family: DotGothic16, sans-serif;
  padding: 7px;
  margin: auto;
  width: 150px;
  height: 10px;
  border: 2px solid black;
  border-radius: 8px;
}

#generate-board {
  padding: 2px;
  width: 70px;
  border: 2px solid black;
}
